<div>
    <mat-toolbar color="primary">
        <span>My Restaurent</span>
        <span class="nav-items">
            <span class="ml-3 cp" (click)="navigateTo('')">Home</span>
            <span class="ml-3 cp" (click)="navigateTo('admin')">Admin</span>
            <span class="ml-3 cp" (click)="navigateTo('food-items')" >Food Items</span>
            <span class="ml-3 cp" (click)="navigateTo('admin')">Cart</span>
        </span>
        <span class="example-spacer"></span>
        <span>
            Luminar
        </span>
        
    </mat-toolbar>
</div>


